

body
{
   

font-size: 16px;

}

header
{
background-image: url("http://pour-les-yeux-de-adam.fr/picture/histoire.jpg");
    border-radius: 80px;

}

#mf
{
    display: flex;
}

nav
{
    background-color: rgb(89,231,10);
    width: 400px;
}

h1
{
    font-size: 120px;
    color: maroon;
    text-align: center;
}


h2
{
    

    background-color: black;
    color: yellow;
    text-align: center;
    font-size: 24px;

    
  }      
h4
{
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
}






.alignement
{
    display: flex;
    height : 325px;
}

.espace
{
    color: white;
}

p
{
    padding-left: 20px;

    
}

#acceuil
{
    background-color: purple;
    color: white;
    border: 3px outset;
    border-radius: 35px;
    font-size: 35px;
    
        
}

footer p
{
     text-align: center;
    text-decoration: underline;
    
}